<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Portrino HybridAuth - Social Login</label>
    <label lang="en">Portrino HybridAuth - Social Login</label>

    <version>1.0.2</version>
    <copyright>(c) by portrino GmbH</copyright>
    <license>proprietary</license>
    <description lang="de">
        Dieses Plugin bietet die Möglichkeit das sich Kunden über verschiedene Anbieter wie Facebook, Google, Amazon, usw. anzumelden.
    </description>
    <description lang="en">
        This plugin provides features to login via various social providers like: Facebook, Google, Amazon, etc. as customer.
    </description>

    <link>http://www.portrino.de/</link>
    <author>portrino GmbH</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">
            Veröffentlichung
        </changes>
        <changes lang="en">
            Release
        </changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">
            checkLicence Methode wurde entfernt für geplante Quelloffenheit
        </changes>
        <changes lang="en">
            remove checkLicence method to make plugin open source.
        </changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="de">
            Fehler der HybridAuth base_url Konfiguration im Zusammenhang mit Subshops wurde behoben.
        </changes>
        <changes lang="en">
            A bug in base_url configuration in conjunction with subshops was fixed.
        </changes>
    </changelog>
</plugin>