<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Portrino HybridAuth - Social Login</label>
    <label lang="en">Portrino HybridAuth - Social Login</label>

    <version>1.2.1</version>

    <copyright>(c) by portrino GmbH</copyright>
    <license>proprietary</license>
    <description lang="de">
        Dieses Plugin bietet die Möglichkeit, dass sich Kunden über verschiedene Anbieter wie Facebook, Google, Amazon, usw. anzumelden.
    </description>
    <description lang="en">
        This plugin provides features to login via various social providers like: Facebook, Google, Amazon, etc. as customer.
    </description>

    <link>http://www.portrino.de/</link>
    <author>portrino GmbH</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="1.2.1">
        <changes lang="de">
            [TASK] Dokumentation: Deutsche Beschreibung wurde aktualisiert
        </changes>
        <changes lang="en">
            [TASK] Documentation: updates german description
        </changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de">
            [FEATURE] Der Firmenname des Benutzers (vom Social-Provider) kann nun  mit in den Adressdatensatz
            übernommen werden.

            [BUGFIX] Es wird nun die Länge der Zeichenkette des Landes überprüft (2), damit das Land auch mittels ISO 2
            Ländercode korrekt importiert wird.
        </changes>
        <changes lang="en">
            [FEATURE] Adds the possibility to import the company name (from the social provider) into the address
            record.

            [BUGFIX] The length of the country string is now checked (2), so that the country is also correctly imported
            using ISO 2 country code.
        </changes>
    </changelog>

    <changelog version="1.1.5">
        <changes lang="de">
            Behebt einen Fehler bei welchen das Standard Land (fallback) nicht gesetzt wurde.

            Formatierung aller PHP-Dateien via phpcbf für PSR2 Standard.
        </changes>
        <changes lang="en">
            Fixes a bug where the Default country (fallback) was not set correctly to the configured value.

            Fix as many sniff violations as possible via pbpcbf for PSR2 standard.
        </changes>
    </changelog>

    <changelog version="1.1.4">
        <changes lang="de">
            Service/CustomerService->getCustomerByEmail() aktualisiert -> Wenn der Kunden-Scope in den Shop-Einstellungen
            aktiviert ist, wird beim Abrufen der Kundendaten die aktuelle Shop-ID zur Einschränkung des Ergebnis verwendet.

            Die "Social Register Hint" Sektion im account/profile Frontend-Template hat einen eigenen Smarty-Block erhalten,
            so dass sie leichter überschrieben werden kann.

            Dokumentation aktualisiert.
        </changes>
        <changes lang="en">
            Updates Service/CustomerService->getCustomerByEmail() -> If the customer scope in the shop settings is
            activated, the current shop ID is used to filter customer data result.

            The "Social Registered Hint" section in the account/profile frontend template now has its own smarty block,
            so that it can be overwritten more easily.

            Documentation updated.
        </changes>
    </changelog>

    <changelog version="1.1.3">
        <changes lang="de">
            Service/CustomerService->getCustomerByIdentity() aktualisiert -> Wenn der Kunden-Scope in den Shop-Einstellungen
            aktiviert ist, wird beim Abrufen der Kundendaten die aktuelle Shop-ID zur Einschränkung des Ergebnis verwendet.

            Labels für die Social-Identity Felder in den Kundendetails im Backend hinzugefügt.
        </changes>
        <changes lang="en">
            Updates Service/CustomerService->getCustomerByIdentity() -> If the customer scope in the shop settings is
            activated, the current shop ID is used to filter customer data result.

            Added labels for the social identity fields in the customer details view in the backend.
        </changes>
    </changelog>

    <changelog version="1.1.2">
        <changes lang="de">
            Service/ConfigurationService aktualisiert -> spaltet die Methode getProviderConfiguration() in
            getProviderConfiguration() und getProviderConfigurationFromConfigFile().

            scope="shop" zu den Plugin-Konfigurationsfeldern hinzugefügt um Sub-Shops zu unterstützen.
        </changes>
        <changes lang="en">
            Updates Service/ConfigurationService -> splits method getProviderConfiguration() into
            getProviderConfiguration() and getProviderConfigurationFromConfigFile().

            Added scope="shop" to the plugin configuration fields to support sub-shops.
        </changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="de">
            Aktualisierung der composer.json
        </changes>
        <changes lang="en">
            Updates composer.json
        </changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">
            Hinweis für Nutzer welche über soziales Netzwerk registriert wurden im Profilbereich.
        </changes>
        <changes lang="en">
            Adds hint for social registered customers into profile.
        </changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">
            Fehler der HybridAuth base_url Konfiguration im Zusammenhang mit Subshops wurde behoben.
        </changes>
        <changes lang="en">
            A bug in base_url configuration in conjunction with subshops was fixed.
        </changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">
            checkLicence Methode wurde entfernt für geplante Quelloffenheit
        </changes>
        <changes lang="en">
            remove checkLicence method to make plugin open source.
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">
            Veröffentlichung
        </changes>
        <changes lang="en">
            Release
        </changes>
    </changelog>
</plugin>