<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <!--

        General

        -->

        <element type="boolean">
            <name>general_include_fontawesome</name>
            <label lang="en">General :: Include FontAwesome</label>
            <label lang="de">General :: FontAwesome einbinden</label>
            <value>true</value>
            <description lang="en">
                Include FontAwesome from CDN.
            </description>
            <description lang="de">
                FontAwesome vom CDN einbinden.
            </description>
        </element>

        <element type="select">
            <name>general_default_country</name>
            <label lang="de">General :: Standard Land (fallback)</label>
            <label lang="en">General :: Default country (fallback)</label>
            <description lang="de">
                Wenn kein Land während der Registrierung vom SSO Provider zur Verfügung gestellt wurde,
                wird dieses als Land des Nutzers gesetzt, da ein Land Vorraussetzung für den Shopware
                Registrierungsprozess ist.
            </description>
            <description lang="en">
                If no country provided by SSO Provider, during registration this will be used as default,
                because it is mandatory for a registration.
            </description>
            <store>Shopware.apps.Base.store.Country</store>
        </element>

        <element type="boolean">
            <name>general_force_sso</name>
            <label lang="en">General :: Force Single Sign-On</label>
            <label lang="de">General :: Single Sign-On erzwingen</label>
            <value>false</value>
            <description lang="en">
                The shop can only be viewed with an active login session. Therefor the user will be forced to authenticate
                using the selected OAuth2 Provider in the plugin configuration.
            </description>
            <description lang="de">
                Der Shop kann nur mit einer aktiven Login-Session angezeigt werden. Deshalt wird der Benutzer gezwungen
                sich mittels dem in der Plugin Konfiguration ausgewählten OAuth2 Anbieter zu authentifizieren.
            </description>
        </element>

        <!--

        Hybrid Auth

        -->
        <element type="select">
            <name>debug_mode</name>
            <label lang="en">Hybrid Auth :: Debug Mode</label>
            <label lang="de">Hybrid Auth :: Debug Modus</label>
            <value>false</value>
            <description lang="en">
                If you want to enable logging, set 'debug_mode' to true. You can also set it to - "error" To log only error messages.
                Useful in production - "info" To log info and error messages (ignore debug messages).
            </description>
            <description lang="de">
                If you want to enable logging, set 'debug_mode' to true. You can also set it to - "error" To log only error messages.
                Useful in production - "info" To log info and error messages (ignore debug messages).
            </description>
            <store>
                <option>
                    <value>false</value>
                    <label lang="de">deaktiviert</label>
                    <label lang="en">deactivated</label>
                </option>
                <option>
                    <value>true</value>
                    <label lang="de">aktiviert</label>
                    <label lang="en">activated</label>
                </option>
                <option>
                    <value>error</value>
                    <label lang="de">Nur Fehlermeldungen</label>
                    <label lang="en">Only error messages</label>
                </option>
                <option>
                    <value>info</value>
                    <label lang="de">Nur Fehler- und Infomeldungen</label>
                    <label lang="en">Only errors und info messages</label>
                </option>
            </store>
        </element>

        <element type="text">
            <name>debug_file</name>
            <label lang="en">Hybrid Auth :: Debug File</label>
            <label lang="de">Hybrid Auth :: Debug Datei</label>
            <description lang="en">
                File path of the debug file.
            </description>
            <description lang="de">
                Ort der Datei wo Debug Meldungen hingeschrieben werden.
            </description>
        </element>

        <!--

        Facebook

        -->

        <element type="boolean">
            <name>facebook_enabled</name>
            <label lang="en">Facebook :: Enabled</label>
            <label lang="de">Facebook :: Aktiviert</label>
            <description lang="en">
                Enable facebook social login?
            </description>
            <description lang="de">
                Facebook Social LogIn einschalten?
            </description>
        </element>

        <element type="text">
            <name>facebook_keys_id</name>
            <label lang="en">Facebook :: App-ID</label>
            <label lang="de">Facebook :: App-ID</label>
            <description lang="en">
                Enter your App-ID configured under https://developers.facebook.com/apps/
            </description>
            <description lang="de">
                Bitte geben Sie Ihre App-ID welche Sie unter https://developers.facebook.com/apps/ konfiguriert haben ein.
            </description>
        </element>

        <element type="text">
            <name>facebook_keys_secret</name>
            <label lang="en">Facebook :: App-Secret</label>
            <label lang="de">Facebook :: App-Geheimcode</label>
            <description lang="en">
                Enter your App-Secret configured under  https://developers.facebook.com/apps/
            </description>
            <description lang="de">
                Bitte geben Sie Ihren App-Geheimcode ein, welchen Sie unter https://developers.facebook.com/apps/ konfiguriert haben ein.
            </description>
        </element>

        <element type="textarea">
            <name>facebook_scope</name>
            <label lang="en">Facebook :: Scope</label>
            <label lang="de">Facebook :: Scope</label>
            <description lang="en">
                Enter custom OAuth scope if you wish.
                Comma separated. E.g.: email, user_about_me
                (more informations are here: https://developers.facebook.com/docs/facebook-login/permissions)
            </description>
            <description lang="de">
                Ändern Sie hier den OAuth scope.
                Kommarsepariert. z.B.: email, user_about_me
                (Mehr Information unter: https://developers.facebook.com/docs/facebook-login/permissions)
            </description>
        </element>

        <!--

        Google

        -->

        <element type="boolean">
            <name>google_enabled</name>
            <label lang="en">Google :: Enabled</label>
            <label lang="de">Google :: Aktiviert</label>
            <description lang="en">
                Activate Google social login?
            </description>
            <description lang="de">
                Google Social LogIn aktivieren?
            </description>
        </element>

        <element type="text">
            <name>google_keys_id</name>
            <label lang="en">Google :: Client-ID</label>
            <label lang="de">Google :: Client-ID</label>
            <description lang="en">
                https://console.developers.google.com/apis/credentials
            </description>
            <description lang="de">
                https://console.developers.google.com/apis/credentials
            </description>
        </element>

        <element type="text">
            <name>google_keys_secret</name>
            <label lang="en">Google :: Clientkey</label>
            <label lang="de">Google :: Clientschlüssel</label>
            <description lang="en">
                https://console.developers.google.com/apis/credentials
            </description>
            <description lang="de">
                https://console.developers.google.com/apis/credentials
            </description>
        </element>

        <element type="textarea">
            <name>google_scope</name>
            <label lang="en">Google :: Scope</label>
            <label lang="de">Google :: Scope</label>
            <description lang="en">
                https://developers.google.com/identity/protocols/googlescopes
            </description>
            <description lang="de">
                https://developers.google.com/identity/protocols/googlescopes
            </description>
        </element>

        <!--

        Amazon

        -->

        <element type="boolean">
            <name>amazon_enabled</name>
            <label lang="en">Amazon :: Enabled</label>
            <label lang="de">Amazon :: Aktiviert</label>
            <description lang="en">
                Activate Amazon social login?
            </description>
            <description lang="de">
                Amazon Social LogIn aktivieren?
            </description>
        </element>

        <element type="text">
            <name>amazon_keys_id</name>
            <label lang="en">Amazon :: Client-ID</label>
            <label lang="de">Amazon :: Client-ID</label>
            <description lang="en">
                https://sellercentral.amazon.com/gp/homepage.html
            </description>
            <description lang="de">
                https://sellercentral.amazon.com/gp/homepage.html
            </description>
        </element>

        <element type="text">
            <name>amazon_keys_secret</name>
            <label lang="en">Amazon :: Client Secret</label>
            <label lang="de">Amazon :: Client Secret</label>
            <description lang="en">
                https://sellercentral.amazon.com/gp/homepage.html
            </description>
            <description lang="de">
                https://sellercentral.amazon.com/gp/homepage.html
            </description>
        </element>

        <!--

          LinkedIn

          -->

        <element type="boolean">
            <name>linkedin_enabled</name>
            <label lang="en">LinkedIn :: Enabled</label>
            <label lang="de">LinkedIn :: Aktiviert</label>
            <description lang="en">
                Activate LinkedIn social login?
            </description>
            <description lang="de">
                LinkedIn Social LogIn aktivieren?
            </description>
        </element>

        <element type="text">
            <name>linkedin_keys_key</name>
            <label lang="en">LinkedIn :: Kunden-ID</label>
            <label lang="de">LinkedIn :: Key</label>
            <description lang="en">
                https://www.linkedin.com/developer/apps/
            </description>
            <description lang="de">
                https://www.linkedin.com/developer/apps/
            </description>
        </element>

        <element type="text">
            <name>linkedin_keys_secret</name>
            <label lang="en">LinkedIn :: Kundengeheimnis</label>
            <label lang="de">LinkedIn :: Secret</label>
            <description lang="en">
                https://www.linkedin.com/developer/apps/
            </description>
            <description lang="de">
                https://www.linkedin.com/developer/apps/
            </description>
        </element>

        <element type="textarea">
            <name>linkedin_fields</name>
            <label lang="en">LinkedIn :: Fields</label>
            <label lang="de">LinkedIn :: Felder</label>
            <description lang="en">

            </description>
            <description lang="de">

            </description>
        </element>

        <!--

        TYPO3

        -->

        <element type="boolean">
            <name>typo3_enabled</name>
            <label lang="en">TYPO3 :: Enabled</label>
            <label lang="de">TYPO3 :: Aktiviert</label>
            <description lang="en">
                Activate TYPO3 OAuth login?
            </description>
            <description lang="de">
                TYPO3 OAuth Login aktivieren?
            </description>
        </element>

        <element type="text">
            <name>typo3_keys_id</name>
            <label lang="en">TYPO3 :: Client-ID</label>
            <label lang="de">TYPO3 :: Client-ID</label>
            <description lang="en">
            </description>
            <description lang="de">
            </description>
        </element>

        <element type="text">
            <name>typo3_keys_secret</name>
            <label lang="en">TYPO3 :: Client Secret</label>
            <label lang="de">TYPO3 :: Client Secret</label>
            <description lang="en">
            </description>
            <description lang="de">
            </description>
        </element>

        <!--<element type="boolean">-->
            <!--<name>live_enabled</name>-->
            <!--<label lang="en">Windows Live :: Enabled</label>-->
            <!--<label lang="de">Windows Live :: Aktiviert</label>-->
            <!--<description lang="en">-->
                <!--Activate Windows Live social login?-->
            <!--</description>-->
            <!--<description lang="de">-->
                <!--Windows Live Social LogIn aktivieren?-->
            <!--</description>-->
        <!--</element>-->

        <!--<element type="text">-->
            <!--<name>live_keys_id</name>-->
            <!--<label lang="en">Windows Live :: Application Id</label>-->
            <!--<label lang="de">Windows Live :: Application Id</label>-->
            <!--<description lang="en">-->
                <!--https://apps.dev.microsoft.com/-->
            <!--</description>-->
            <!--<description lang="de">-->
                <!--https://apps.dev.microsoft.com/-->
            <!--</description>-->
        <!--</element>-->

        <!--<element type="text">-->
            <!--<name>live_keys_secret</name>-->
            <!--<label lang="en">Windows Live :: Application Secrets</label>-->
            <!--<label lang="de">Windows Live :: Application Secret</label>-->
            <!--<description lang="en">-->
                <!--https://apps.dev.microsoft.com/-->
            <!--</description>-->
            <!--<description lang="de">-->
                <!--https://apps.dev.microsoft.com/-->
            <!--</description>-->
        <!--</element>-->



    </elements>
</config>